@model IEnumerable<DotNetMiniProject.Models.User>;

@{
    ViewData["Title"] = "Index";
}

<h1>ADMIN</h1>


    <button class="btn btn-secondary ">
    <a class="addBtn text-decoration-none text-white" asp-controller="Admin" asp-action="AddUser">Add Customer +</a>
    </button>


<button class="btn btn-primary">
    <a class="addBtn text-decoration-none text-black" asp-controller="Home">Logout</a>
</button>

<button class="btn btn-primary">
    <a class="addBtn text-decoration-none text-black" asp-controller="Admin" asp-action="AllFields">Stream</a>
</button>
   

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="UpdateUser" asp-route-id="@item.Id">Edit</a> |
                
                <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>

              

            </td>
        </tr>
}
    </tbody>

</table>
