@model DotNetMiniProject.Models.User

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">

   
    @if (ViewBag.LocationGroups != null && ViewBag.LocationGroups.Count > 0)
    {
        @foreach (var group in ViewBag.LocationGroups)
        {
            @*  <h2 class="title-c"><i class="fas fa-map-marker-alt"></i> Restaurants in @group.Key</h2> *@

            <div class="row">
                @foreach (var fd in group.Value)
                {
                    <div class="col-md-4 mb-3 restaurant-card">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-capitalize">@fd.Name</h5>
                                <p class="card-text">@fd.Description</p>
                                <p class="card-text">@fd.Location</p>
                                <!-- Add more restaurant details as needed -->
                                <a href="@Url.Action("SeeMenue", "Customer", new { id = fd.Id })" class="btn btn-warning">View Menu</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <p>No restaurants available</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
